.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 11;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 1rem;
}

.dialog {
  width: 100%;
  max-width: 530px;
  height: auto;
  padding: 52px 62px;
  border-radius: 8px;
  background-color: var(--complementary-color);
}

.header {
  margin-bottom: 2rem;
  h3 {
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    color: white;
  }
}

.footer {
  display: flex;
  flex-direction: column;
}

.body {
  display: flex;
  flex-direction: column;
}

.show {
  display: flex;
}
