.chart {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
.square {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 64px;
  border-radius: 4px;
  font-weight: 700;
  font-size: 20px;
  color: white;
  padding-left: 16px;
  padding-right: 16px;
  border: 3px solid var(--primary-color);
}

.content {
  font-weight: 500;
  font-size: 16px;
}
