.DS_Store
.air
.claude
.dockerignore
.env*
.git
.gitignore
.next
.pnpm-debug.log*
.vercel
.vscode
Dockerfile
README.md
amplify
build
cloudbuild.yaml
coverage
dist
docs
node_modules
npm-debug.log*
out
scripts
yarn-debug.log*
yarn-error.log*
