.chart {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
.circle {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 86px;
  height: 86px;
  box-shadow: inset 0 0 0 11px var(--primary-color);
  border-radius: 50%;
  font-weight: 700;
  font-size: 20px;
  color: white;
}

.content {
  font-weight: 500;
  font-size: 16px;
}
