// Header
.headerMobile {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 9;
  background-color: var(--complementary-color);
}

.headerMobileContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.logo {
  width: 100%;
  max-width: 64px;
  height: auto;
  margin: auto auto auto 0;
}

.burger {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  width: 20px;
  padding: 0;
  border: 0;
  background-color: transparent;

  span {
    display: flex;
    width: 100%;
    height: 2px;
    border-radius: 2px;
    background-color: white;
  }
}

// Menu
.menu {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
  transform: translateX(100%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
  transition: transform 0.3s ease-in-out;
  background-color: var(--complementary-color);
  opacity: 0;
  pointer-events: none;
}

.open {
  transform: translateX(0);
  opacity: 1;
  pointer-events: auto;
}

.close {
  position: relative;
  display: block;
  width: 42px;
  height: 42px;
  border: 0;
  padding: 0;
  background-color: transparent;

  // close icon
  span {
    position: absolute;
    left: 15px;
    display: flex;
    width: 20px;
    height: 2px;
    border-radius: 2px;
    background-color: white;

    &:first-child {
      transform: rotate(45deg);
    }

    &:last-child {
      transform: rotate(-45deg);
    }
  }
}

.menuHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 1rem;
}

.mainMenu {
  margin-top: 0;
  margin-bottom: auto;
  border-top: 1px solid #4f4e4e;
}

.list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
}

.item {
  display: flex;
  padding: 1rem;
  font-size: 24px;
  font-weight: 500;
  text-decoration: none;
  color: white;

  &:hover {
    color: white;
  }
}

.menuFooter {
  display: flex;
  padding: 2rem 1rem;
}
