.section {
  padding-top: 64px;
  padding-bottom: 64px;
  background: linear-gradient(180deg, #1d1c1b 0%, #000000 100%);
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.titleLink {
  color: white;
  display: inline-flex;
  justify-content: flex-end;
  font-weight: bold;
}

.body {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.buttonLink {
  display: flex;
  width: 35%;
  border-radius: 50px;
  height: auto;
  padding: 1rem;
  justify-content: center;
  outline: invert;
  border: solid 2px var(--primary-color);
  text-decoration: none;
  color: var(--primary-color);
  background: #000000;

  &:hover {
    color: var(--primary-color);
  }
}

// mobile
@media (max-width: 576px) {
  .buttonLink {
    width: 100%;
  }

  .body {
    flex-direction: column;
  }

  .titleLink {
    font-size: 30px;
    text-align: center;
  }
}
