
.section{
  padding-top: 64px;
  padding-bottom: 64px;
  background: linear-gradient(180deg, #1D1C1B 0%, #000000 100%);
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.titleLink{
  color: white;
  display: inline-flex;
  justify-content: end;
  font-weight: bold;
}

.linkText{
  text-decoration: none;
  color:#F2CC21;
   &:hover{
    color: #F2CC21;
   }
}

.body{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.buttonLink{
  display: flex;
  width: 35%;
  border-radius: 50px;
  height: auto;
  padding: 1rem;
  justify-content: center;
  outline: invert;
  border: solid 2px #F2CC21;
  color: #F2CC21;
  background: #000000;
}



// mobile
@media (max-width:576px) {

  .buttonLink{
    width: 100%;
  }

  .body{
    flex-direction: column;
    
  }

  .titleLink{
    font-size: 30px;
    text-align: center;
  }

  
}