.button {
  display: inline-flex;
  padding: 12px 30px;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  color: white;
  border-radius: 40px;
}

.primary {
  font-weight: 600;
  color: var(--complementary-color);
  background-color: var(--primary-color);
}
