.successStories {
  position: relative;
  padding: 67px 0;
  color: var(--complementary-color);
}

.title {
  font-size: 40px;
  font-weight: 700;
}

.content {
  font-size: 20px;
  font-weight: 400;
}
