.form {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 710px;
  min-height: 600px;
  padding: 32px 40px;
  border-radius: 8px;
  background-color: var(--complementary-color);
  box-shadow: 0 10px 40px rgba(18, 18, 18, 0.5);
  color: white;
}

.formTitle {
  font-size: 20px;
  text-align: center;
}

.message {
  display: flex;
  flex: 1;
  flex-direction: column;
  text-align: center;
}

.messageTitle {
  font-weight: 700;
}

.accent {
  font-weight: 700;
  color: var(--primary-color);
}

.inputText {
  input {
    color: white;
  }
}

@media (min-width: 769px) {
}
