.form {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 710px;
  min-height: 600px;
  padding: 32px 40px;
  border-radius: 8px;
  background-color: var(--complementary-color);
  box-shadow: 0 10px 40px rgba(18, 18, 18, 0.5);
  color: white;
}

.message {
  display: flex;
  flex: 1;
  flex-direction: column;
  text-align: center;
}

.messageTitle {
  font-weight: 700;
}

.accent {
  font-weight: 700;
  color: var(--primary-color);
}

.inputText{
  input{
    color: white;
  }
}

.messageErrorContainer{
  background-color: transparent;
  border-radius: 4px;
  width: 100%;
  height: 42px;
  color: white;
  align-items: center;
  font-size: 14px;
}

.spanError{
  color: red;
  font-size: 14px;
  padding-left: 0;
  margin-bottom: 0.3rem;
}


.errorMessage {
  color: red;
  font-size: 12px;
}
.MaterialField.error {
    border-color: red;
}




