.form {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 710px;
  min-height: 600px;
  padding: 32px 40px;
  border-radius: 8px;
  background-color: var(--complementary-color);
  box-shadow: 0 10px 40px rgba(18, 18, 18, 0.5);
  color: white;
}

.formTitle {
  font-size: 20px;
  text-align: center;
}

.searcherLoaderContainer {
  position: relative;
}

.searcherLoader {
  position: absolute;
  top: 0;
  right: 1rem;
  z-index: 2;
  width: 16px;
  height: 16px;
}

.message {
  display: flex;
  overflow: hidden;
  flex: 1;
  flex-direction: column;
  text-align: center;
  border-radius: 8px;
  background-color: var(--complementary-color);
  box-shadow: 0 10px 40px rgba(18, 18, 18, 0.5);
}

.messageImage {
  width: 100%;
  height: auto;
}

.accent {
  font-weight: 700;
  color: var(--primary-color);
}

.inputText {
  input {
    color: white;
  }
}

.messageErrorContainer {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  border-radius: 4px;
  width: 100%;
  color: white;
  align-items: center;
  font-size: 14px;
  padding: 12px 16px;
  margin: auto;
}

.spanError {
  color: var(--error-color);
  font-size: 14px;
  padding-left: 0;
  margin-bottom: 0.3rem;
}

.errorMessage {
  color: var(--error-color);
  font-size: 12px;
}
.MaterialField.error {
  border-color: var(--error-color);
}

.optionSelect {
  background-color: var(--complementary-color);
  color: var(--primary-bg-color);
}

.error {
  border-radius: 8px;
  box-shadow: 0 0 0 1px var(--error-color);
}

// #option{
//   padding-top: 1rem !important;

// }
