.section {
  padding-top: 64px;
  padding-bottom: 64px;
  background-color: white;
}

.title,
.content {
  color: var(--complementary-color);
}

.title {
  margin-bottom: 2rem;
}

.content {
  line-height: 1.8;
}
