.formGroup {
  width: 25%;
  padding: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
}

.radio {
  display: flex;
  flex: 0;
  flex-shrink: 0;
  flex-direction: column;
  align-items: center;
  text-align: center;
  cursor: pointer;
  margin: 0 auto;
}

.field {
  display: none;
}

.label {
  padding-top: 8px;
  font-size: 14px;
  font-weight: 700;
}

.icon {
  width: 100%;
  max-width: 48px;
  height: auto;
}

// .error {
//   border: 1px solid var(--error-color);
// }

@media (max-width: 768px) {
  .label {
    font-size: 12px;
  }
}

@media (min-width: 769px) {
  .icon {
    max-width: 72px;
  }
}
