.radio {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

.field {
  display: none;
}

.label {
  padding-top: 8px;
  font-size: 14px;
  font-weight: 700;
}

.icon {
  width: 100%;
  height: auto;
}
