.hero {
  position: relative;
  display: flex;
  height: auto;
  min-height: 446px;
  display: flex;
  flex-direction: row;
  // align-items: center;
  background-color: var(--complementary-color);
}

.image {
  position: absolute;
  top: -140px;
  left: 0;
  z-index: 1;
  display: flex;
  width: 100%;
  height: auto;
  object-fit: cover;
  aspect-ratio: 16 / 9;
  opacity: 0.4;

}

.heroContent {
  position: relative;
  z-index: 2;
  // margin: auto 0 0 0;
  padding-bottom: 2rem;
}

.title,
.content {
  color: black;
}

.title {
  color: var(--primary-color);
  font-size: clamp(1.875rem, -0.1563rem + 6.5vw, 3.5rem);
}

.content {
  line-height: 1.8;
}

.uderline {
  position: relative;
  display: inline-block;
  color: var(--primary-color);
  &:after {
    position: absolute;
    left: 0;
    bottom: -8px;
    content: "";
    display: inline-block;
    width: 100%;
    height: 5px;
    background-color: var(--primary-color);
  }
}

.secondaryButton {
  margin-left: 16px;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 6rem;
}

.signUpButton{
  &:before {
    content:'Inscríbete ya';
  }
}

.loginButton{
  &:before{

  }
}

.divText{
  display: flex;
}

// Desktop
@media (min-width: 768px) {
  .hero {
    height: calc(100vh - 112px); // 100vh - header height
    min-height: 580px;
  }

  .image {
    opacity: 1;
    object-position: center top;
  }

  .heroContent {
    // margin: auto;
    padding-bottom: initial;
    padding-top: 5rem;
  }

  .title {
    // font-size: 56px;
  }

  .buttons {
    flex-direction: row;
  }

}

@media (max-width: 460px) {

    .divText{
      display: none;
    }

    .signUpButton{
      &:before {
        content:'Inscríbete ya';
      }
    }

    .loginButton{
      &:before{
        content:'Iniciar Sesión';
      }
    }

    .image {
      object-position: center;
    }

}
