.hero {
  position: relative;
  display: flex;
  height: calc(100vh - 112px); // 100vh - header height
  min-height: 580px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--complementary-color);
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center right;
  opacity: 0.4;
}

.heroContent {
  position: relative;
  z-index: 2;
}

.title,
.content {
  color: white;
}

.content {
  line-height: 1.8;
}

.uderline {
  position: relative;
  display: inline-block;
  &:after {
    position: absolute;
    left: 0;
    bottom: -8px;
    content: "";
    display: inline-block;
    width: 100%;
    height: 5px;
    background-color: var(--primary-color);
  }
}

// Desktop
@media (min-width: 768px) {
  .image {
    opacity: 1;
    object-position: center top;
  }
}
