.carousel {
  width: 100%;
  max-width: 792px;
  margin: initial;
  background-color: #e8e8e8;
  border-radius: 24px;
}

.slide {
  position: relative;
  z-index: 1;
  padding-bottom: 2rem;
}

.quote {
  display: flex;
  flex-direction: row;
  padding: 32px 24px;
  color: var(--complementary-color);
}

.quotePicture {
  width: 30%;
  flex-shrink: 0;
}

.quoteImg {
  flex-shrink: 0;
  overflow: hidden;
  display: block;
  width: 100%;
  max-width: 220px;
  height: auto;
  object-fit: cover;
  border-radius: 50%;
}

.quoteText {
  display: flex;
  flex-direction: column;
}

.quoteContent {
  font-size: 24px;
  font-weight: 700;
}

.quoteAuthorData {
  display: flex;
  flex-direction: row;
}

.quoteAuthorDataContent {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
}

.quoteAuthor {
  font-size: 16px;
  font-weight: 700;
}

.quoteData {
  font-size: 16px;
}

// Navigation
.carouselNavigation {
  position: absolute;
  bottom: 24px;
  right: 27px;
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.swiperPrev,
.swiperNext {
  display: block;
  width: 48px;
  height: 48px;
  padding: 0;
  background-color: white;
  border: 1px solid var(--primary-color);
  border-radius: 50%;
  cursor: pointer;
}

.swiperNext {
  margin-left: 1rem;
}

@media (min-width: 769px) {
  .quote {
    padding: 40px 64px;
  }
  .quoteText {
    padding-left: 2rem;
  }
  .quoteAuthorData {
    flex-direction: column;
  }
  .quoteAuthorDataContent {
    padding-left: 0;
  }
}
