
.sectionContainer {
  position: relative;
  display: flex;
  height: calc(100vh - 100px); // 100vh - header height
  min-height: 580px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--complementary-color);
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center right;
}
