
.sectionContainer {
  position: relative;
  display: flex;
  height: calc(100vh - 100px); // 100vh - header height
  min-height: 580px;
  display: flex;
  flex-direction: row;
  background-color: var(--complementary-color);
  padding: 2rem;
}

.rowContainer{
  display: flex;
  justify-content:space-between;
  height: 100%;
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: fill;
  object-position: center right;
}

.imageStar{
  display: flex;
  object-fit: contain;
  margin-right: 1rem;
  margin-left: 1rem;
}

.imageContainer{
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 2rem;
}

.termsContainer{
  position: relative;
  z-index: 2;
  text-align: center;
  align-items: end;
  display: flex;
  justify-content: center;
}

.terms{
  color: white;
}

.title{
  color: white;
}

.bodyContainer{
  position: relative;
  z-index: 2;
  text-align: center;
}