:root {
  --primary-color: #0070f3;
  --secondary-color: #ff6600;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: white;
  }
}
