:root {
  --primary-color: #f2cc21;
  --secondary-color: #ff6600;
  --complementary-color: #1d1c1b;
  --primary-bg-color: white;
  --secondary-bg-color: #e8e8e8;
  --error-color: #e45252;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-size: 16px;
  line-height: 1.3;
}

.title {
  font-size: 56px;

  &.bold {
    font-weight: 700;
  }
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: white;
  }
}
