
.section{
  padding-top: 64px;
  padding-bottom: 64px;
  background-color: #E8E8E8;
  height: 400px;
  display: flex;
  align-items: center;
}

.title,
.content {
  color: var(--complementary-color);
}

