
.section{
  padding-top: 64px;
  padding-bottom: 64px;
  background-color: #E8E8E8;
  height: auto;
  min-height: 400px;
  display: flex;
  align-items: center;
}



.title,
.content {
  color: var(--complementary-color);
}

@media (max-width:576px) {
  .title{
    font-size: 30px;
  }
}